@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);

  --color-main: var(--color-main);
  --color-main-foreground: var(--color-main-foreground);

  --color-background-second: var(--color-background-second);

  --color-success: var(--color-success);
  --color-success-foreground: var(--color-success-foreground);

  --color-danger: var(--color-danger);
  --color-danger-foreground: var(--color-danger-foreground);

  --color-warning: var(--color-warning);
  --color-warning-foreground: var(--color-warning-foreground);

  --color-info: var(--color-info);
  --color-info-foreground: var(--color-info-foreground);

  --color-muted: var(--color-muted);
  --color-muted-foreground: var(--color-muted-foreground);
  --color-border: var(--color-border);

  /* SPACING */

  --spacing-xs: var(--space-xs);
  --spacing-sm: var(--space-sm);
  --spacing-base: var(--space-base);
  --spacing-lg: var(--space-lg);

  /* FONTS */

  --font-sans: var(--font-cairo);
}
